@import "../../variables";

body {
  background: $background;
  color: white;
}

.prompt {
  font-family: $secondary-title;
  font-weight: 400;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: url("./leaves.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  .container {
    background: $surface;
    position: relative;
    padding: 18px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 170px;
    height: 60%;
    display: flex;
    flex-direction: column;
    form {
      height: 100%;
    }

    .btn {
      position: absolute;
      left: 12px;
      bottom: 20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .dashboard {
    .container {
      width: 80%;
      height: 600px;
      .btn {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .dashboard {
    .container {
      width: 80%;
    }
  }
}