@import "../../variables";


.journal {
    h3 {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .arrow {
        display: block;
        margin-left: 12px;
    }
}