@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Lato:wght@300;400&family=Noto+Serif&display=swap');

$theme-primary: #bb86fc;
$theme-secondary: #03dac6;

$primary-title:'Fuzzy Bubbles', cursive;