@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&family=Fuzzy+Bubbles&family=Nunito+Sans&display=swap');

$theme-primary: #bb86fc;
$theme-secondary: #03dac6;

$background: #2a2a2a;
$surface: #121212 ;

$primary-title:'Fuzzy Bubbles', cursive;
$secondary-title: 'Abhaya Libre', cursive;
$body-font: 'Nunito Sans', sans-serif;